<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a href="#" class="main-nav__link main-nav__link--active">About</a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Map</a>
    </li>
    <li class="main-nav__item">
      <a href="panda.html" class="main-nav__link">Zoos</a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Contact us</a>
    </li>
    <li class="main-nav__item">
      <a href="#" class="main-nav__link">Design</a>
    </li>
  </ul>
</nav>