.support {
  @media screen and (max-width: 580px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 46px;
    font-size: 22px;
    line-height: 26px;
    color: $white;
    font-weight: 400;

    @media screen and (max-width: 1400px) {
      letter-spacing: .11em;
    }

    @media screen and (max-width: 991px) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: 580px) {
      text-align: center;
    }
    
    @media screen and (max-width: 580px) {
      font-size: 5.625vw;
      line-height: 6.656vw;
    }
  }

  &__descr {
    margin-bottom: 41px;
    width: 90%;
    font-size: 18px;
    line-height: 27.7px;
    color:  #BCBCBC;

    @media screen and (max-width: 991px) {
      line-height: 25px;
      width: 100%;
    } 

    @media screen and (max-width: 580px) {
      margin-bottom: 29px;
      text-align: center;
      font-size: 4.375vw;
      line-height: 6.9vw;
    }
  }

  &__donate {
    padding: 20px 76px;
    margin-bottom: 85px;
    border: 2px solid $white;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: $white;
    transition: .3s ease;

    &:hover {
      background-color: $white;
      color: $black;
    }

    @media screen and (max-width: 991px) {
      font-size: 16px;
      line-height: 19px;
      padding: 18px 74px;
      margin-bottom: 49px;
    } 

    @media screen and (max-width: 580px) {
      margin-bottom: 38px;
      font-size: 14px;
      line-height: 16.59px;
      white-space: nowrap;
    }
  }

  &__social-list {
    display: flex;

    @media screen and (max-width: 580px) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__social-item {
    margin-right: 45px;

    &:nth-last-child(1) {
      margin-right: 0;
    }

    @media screen and (max-width: 991px) {
      margin-right: 19%;
    }

    @media screen and (max-width: 580px) {
      margin-right: 0; 
    }
  }

  &__social-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color:  #BCBCBC;
    transition: .3s ease-out;

    &:hover {
      color: $light-blue;
    }

    @media screen and (max-width: 991px) {
      font-size: 2.8vw;
      line-height: 3.2vw;
    }

    @media screen and (max-width: 580px) {
      font-size: 14px;
      line-height: 16.59px;
    }
  }
}