<div class="support">
  <h3 class="support__title">Support of volunteers</h3>
  <p class="support__descr">You can thank the volunteers for their work. For example, caring for animals and sincere love for them.</p>
  <button class="support__donate">Donate for volunteers </button>
  <ul class="support__social-list">
    <li class="support__social-item">
      <a href="https://www.instagram.com/?hl=ru" class="support__social-link">Instagram</a>
    </li>
    <li class="support__social-item">
      <a href="https://www.facebook.com/" class="support__social-link">Facebook</a>
    </li>
    <li class="support__social-item">
      <a href="https://twitter.com/?lang=ru" class="support__social-link">Twitter</a>
    </li>
  </ul>
</div>