.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 59px;

  @media screen and (max-width: 1400px) {
    padding-top: 41px;
    padding-bottom: 39px;
  }

  @media screen and (max-width: 991px) {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  @media screen and (max-width: 580px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding-bottom: 23px;
  }

  &__design {
    @media screen and (max-width: 580px) {
      margin-bottom: 10px;
    }
  }

  &__rss,
  &__design {
    font-size: 16px;
    line-height: 145%;
    color: #BCBCBC;

    @media screen and (max-width: 991px) {
      font-size: 2.187vw;
      line-height: 3.125vw;
    }

    @media screen and (max-width: 580px) {
      font-size: 11px;
      line-height: 15.95px;
    }
  }
}