<div class="developers">
  <div class="developers__yem">
    <div class="developers__yem-img">
      <img src="img/yem_digital.png" alt="Yem Digital">
    </div>
    <span class="developers__tooltip">Yem Digital</span>
  </div>
  <span class="developers__plus">x</span>
  <div class="developers__rss">
    <div class="developers__rss-img">
      <img src="img/rs_school_js.png" alt="Rolling Scopes School">
    </div>
    <span class="developers__tooltip">Rolling Scopes School</span>
  </div>
</div>