$white: #FCFCFC;
$black: #0B0B0B;
$dark-blue: #080029;
$blue: #0F0049;
$light-gray: #D3D3D3;
$gray: #747474;
$dark: #181818;
$light-blue: #609FFF;
$white-blue: #D9E8FF;
$hard-blue: #3888FF;

$background-page: #FCFCFC;